.homeContainer{
    
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.top{
    width: 1024px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(30, 29, 29);
}

.topSubtitle{
    width: 1024px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(103, 102, 102);
}

.homeTitle{
    width: 1024px;
    font-size: 30px;
    color: rgb(30, 29, 29);
}

.homeSubTitle{
    width: 1024px;
    font-size: 15px;
    color: rgb(103, 102, 102);
}

.bottom{
    margin-top: 10px;
    width: 1024px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(30, 29, 29);
}

.bottomSubtitle{
    width: 1024px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(103, 102, 102);
}

.stayHotels{
    margin-top: 10px;
    width: 1024px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(30, 29, 29);
}

.hotelSubtitle{
    width: 1024px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(103, 102, 102);
}